<section class='bb-slice bb-background-blackbox-blue' id='ship-with-blackbox'>
  <div class='bb-container'>
    <form accept-charset="UTF-8" autocomplete="off" method="post" action="https://cahretail.wufoo.com/forms/rofokh51s8w3tr/#public" target="_blank">
      <div>
        <div class='bb-grid-row'>
          <div class='bb-grid-10 bb-grid-push-1'>
            <h1 class='bb-section-title'>Ship with Blackbox</h1>
            <p class='bb-hide-on-success'>If you&rsquo;ve got an awesome project to share, simply fill out this form. Our accounts team will contact&nbsp;you.</p>
            <p class='bb-show-on-success'>Hey there! Blackbox is happy to hear from you. We&rsquo;re receiving a lot of emails right now, and we will be in touch in a couple of weeks. <a href='//www.youtube.com/watch?v=Xcs3OwrkcR4' target='_blank'>Watch this video in the&nbsp;meantime</a>.</p>
          </div>

          <div class='bb-grid-5 bb-grid-push-1 bb-m-grid-3 bb-hide-on-success'>
            <input name="Field3" class='bb-input bb-input-inverted' placeholder='Name' type='text' required />
            <input name="Field5" class='bb-input bb-input-inverted' placeholder='Business/Product Name' type='text' required />
          </div>

          <div class='bb-grid-5 bb-m-grid-3 bb-hide-on-success'>
            <input name="Field4" class='bb-input bb-input-inverted' placeholder='Email Address' type='email' required />
            <input name="Field6" class='bb-input bb-input-inverted' placeholder='Business/Product Website' type='text' required />
          </div>

          <input type="hidden" id="idstamp" name="idstamp" value="NM1GmepyBwrMkSCOHD2XfYO5ZGLLzi6BgBezCtTmytU=" />

          <div class='bb-grid-10 bb-grid-push-1 bb-hide-on-success'>
            <button class='bb-button-big bb-inverted bb-inline' data-form-submit><span>Contact Us</span></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>